@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

.App {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App h1 {
  width: 100vw;
  color: white;
  padding: 5px 0 5px 0;
  background: #171717;
  margin: 0 auto;
  text-align: center;
}

.task-container {
  width: 500px;
  margin: 25px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #3f3f46;
}

.task-container h3 {
  color: white;
}

.task-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input {
  flex: 1;
  height: 35px;
  margin: 5px 0px;
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #171717;
}

.task-form button {
  height: 35px;
  margin-left: 5px;
  color: white;
  background: #0284c7;
  font-size: 12px;
  padding: 0 5px;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.task-form button:active {
  background: #0369a1;
}

.task-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background: #f3f4f6;
  padding: 0 5px;
  border-radius: 5px;
}

.task-list button {
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.task-list button:hover {
  color: #dc2626;
}

.check-item {
  display: flex;
  align-items: center;
}

.check-item input {
  margin-right: 5px;
}

.filter {
  text-align: center;
  margin: 0 auto;
}

.filter button {
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 8px;
  background: #000;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
